// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


::-webkit-scrollbar {width: 5px !important;}

::-webkit-scrollbar-track { border-radius: 10px !important;}

::-webkit-scrollbar-thumb { border-radius: 10px !important; background: rgb(169,169,169) !important; }

::-webkit-scrollbar-thumb:window-inactive {background: rgb(128,128,128) !important; }

//ion-menu {
//  &[type='overlay'] {
//    z-index: 500 !important;
//  }
//}

._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}


.menu-content.menu-content-push {
//.show-menu .menu-inner {
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.42, 2.12, 0.35, 0.55) !important;
transition: -webkit-transform 300ms cubic-bezier(0.42, 2.12, 0.35, 0.55) !important;
transition: transform 300ms cubic-bezier(0.42, 2.12, 0.35, 0.55) !important;
transition: transform 300ms cubic-bezier(0.42, 2.12, 0.35, 0.55), -webkit-transform 300ms cubic-bezier(0.42, 2.12, 0.35, 0.55) !important;

}


//.keyboard-up{
//  height: auto !important;
//}
