wheel-selector {
  .wheel-holder {
    overflow: hidden;
    height:125px;
    width: 100%;
    position: relative;
    background: #ccc;
    .mask-line {
      position: absolute;
      right: 0;
      left: 0;
      top: 98px;
      margin-right: auto;
      margin-left: auto;
      width: 70px;
      height: 2px;
      background: #4f697d;
      -webkit-transition:width .5s ease;
      transition: width .5s ease;
    }
  }
  .mask {
    height: 25px;
    margin: 50px 0 0;
    float: left;
    width: 50%;
    position: relative;
    left: 50%;
    position: relative;
    // border-left: 1px solid #000;
    
  }
  .common-list {
    color: #4f697d;
    font-size: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    float: left;
    li {
      height: 50px;
      line-height: 50px;
      float: left;
      opacity: 0.5;
      min-width: 70px;
      margin: 0 20px 0 0;
      &.active {
        opacity: 1;
      }
    }

  }
}
