search-bar {

  float: right;

  .search-bar-area {
    &.active{
      top: 0;
      left: 0;
      // transform: translateX(0);
      // transition: 0.5ms; 
    }
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 100%;
    padding: 0 50px;
    // transition: 0.5ms;
    // transform: translateX(100%);
    z-index: 20;

.searchbar-ios {
  background:#fff !important;
  z-index: 555;
  position: relative;
  top: 26px;
}

    .searchbar-ios-cancel {
      display: none !important;
    }
  }
  .search-button {
    position: relative;
    z-index: 30;
  }

}
