search-results {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .scroll-content {
        overflow-y: scroll !important;
        background: #33691E;
    }
    ion-content {
        
    }
    .search-results-holder {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 555;
        background: #33691E;
        &.out-of-here {
            left: -9999px;
            top: -9999px;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 15px;
            overflow: hidden;
            color: #fff;
            li {
                padding: 0 0 10px;
                margin: 0 0 10px;
                border-bottom: 1px solid #81C784;
            }
        }
    }
}
