<ion-header id="place-header">
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <button ion-button small (click)="goToTab(0)">Cafes List</button>
        <button ion-button small (click)="goToTab(1)">Map</button>
        <search-bar (isSearchBarActive)="onMaskToggle($event)"></search-bar>
    </ion-navbar>
</ion-header>
<ion-content [class.show-overlay]="toggleMask" id="cafes-list">
    <div *ngIf="toggleMask" class="mask">&nbsp;</div>
    <search-results [val]="toggleMask"></search-results>
    <ion-card *ngFor="let place of places" (click)="navigateToDetail(place.id)">
        <!-- <ion-img *ngIf="place?.photos" width="100%" height="120" src="{{place.photos[0]}}"></ion-img> -->
        <div class="card-title">{{place.name}}</div>
        <div *ngIf="place.description" class="card-subtitle">{{place?.description}}</div>
        <div *ngIf="place.distanceString" class="card-subtitle">{{place?.distanceString}}</div>
    </ion-card>
</ion-content>
