<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <button ion-button small (click)="goToTab(0)">Cafes List</button>
        <button ion-button small (click)="goToTab(1)">Map</button>
        <search-bar (isSearchBarActive)="onMaskToggle($event)"></search-bar>
    </ion-navbar>
</ion-header>
<div *ngIf="toggleMask" class="mask">&nbsp;</div>
<ion-content [class.show-overlay]="toggleMask" id="cafes-list">
    <ion-card *ngFor="let cafe of cafes" (click)="navigateToDetail(cafe.id)">
        <ion-img *ngIf="cafe.photos[0]" width="100%" height="120" src="{{cafe.photos[0]}}"></ion-img>
        <div class="card-title">{{cafe.name}}</div>
        <div class="card-subtitle">{{cafe.address.street}}</div>
    </ion-card>
</ion-content>
