<ion-header id="place-header">
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <button ion-button small (click)="goToTab(0)">Cafes List</button>
        <button ion-button small (click)="goToTab(1)">Map</button>
        <search-bar (isSearchBarActive)="onMaskToggle($event)"></search-bar>
    </ion-navbar>
</ion-header>
<ion-content [class.show-overlay]="toggleMask" id="cafes-list">
    <div *ngIf="toggleMask" class="mask">&nbsp;</div>
    <search-results [val]="toggleMask"></search-results>
    <ion-card *ngFor="let place of places" (click)="navigateToDetail(place.id)">
        <!-- <ion-img  width="100%" height="175" [src]="place.src"></ion-img> -->
        <img  width="100%" height="175" [src]="place.src">
        <div class="item-description">
            <div class="item-main-info">
                <div class="card-title">{{place.name}}</div>
                <div *ngIf="place.description" class="card-subtitle">{{place?.description}}</div>
            </div>
            <span class="separator"></span>
            <span class="open-hours">
                <ion-icon name="md-time"></ion-icon>
                8:00 - 21: 00
            </span>
            <span class="distance">
                <ion-icon name="md-pin"></ion-icon>
                3км. 200м.
            </span>
            <!-- <div *ngIf="place.distanceString" class="card-subtitle distance">{{place?.distanceString}} 111</div> -->
        </div>
    </ion-card>
</ion-content>
