page-cafe-list {

  .toolbar {
    padding: 0 !important;
    min-height: 44px !important;
  }

  .show-overlay {
      .scroll-content {
        overflow-y: hidden;
      }

      .mask {
        display: block;
      }
  }
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .7;
    z-index: 555;
  }
 
  .card {
    margin: 0;
    border-radius: 0;
    width: 100%;
    position: relative;
    text-align: center;
    height: 175px !important;
    .item-mask {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 777;
    }
    img {
      height: 175px;
    }
    .item-description {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      min-height: 62px;
      background-color: rgba(0, 0, 0, 0.6);
      text-align: left;
    }
    .open-hours,
    .distance {
      color: #e8e3d0;
      font-weight: 300;
      font-size: 12px;
      position: absolute;
      right: 10px;
      line-height: 15px;
      .icon {
        font-size: 12px !important;
      }
    }


    .distance {
      top: 16px;
    }

    .open-hours {
      bottom: 10px;
    }

    .item-main-info {
      padding: 12px 10px 10px 10px;
      color: #e8e3d0;
      font-weight: 300;
      .card-title {
        font-size: 21px;
       line-height: 24px;
        max-width: 60%;
      }
    
      .card-subtitle {
        font-size: 12px;
        line-height: 15px; 
        max-width: 60%;
      
      }
    }
  }
  
}

// E9E6D5 -- color for cafe details background