page-cafe-list {
  .show-overlay {
 
      .mask {
        display: block;
      }
  }
  .mask {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .7;
    z-index: 555;
  }
  ion-card {
    position: relative;
    text-align: center;
    img {
      height: 180px;
    }
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 1.0em;
    width: 100%;
    font-weight: bold;
    color:#000;
  }

  .card-subtitle {
    font-size: 0.5em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #000;
  }
}
